<html>

<head>
    <title>sample</title>
    <link rel="stylesheet" href="file:///Users/merlin/Workspace/legal/contrats-francais/legal/node_modules/gutenberg-css/dist/gutenberg.min.css" media="print">
    <link rel="stylesheet" href="file://Users/merlin/Workspace/legal/contrats-francais/legal/node_modules/gutenberg-css/dist/themes/modern.min.css" media="print">
    <style type="text/css">
        body {
            font-size: 10px;
            font-family: "Montserrat",sans-serif;
        }
        h1 {
            font-size: 26px;
        }
        h2 {
            font-size: 18px;
        }
        h3 {
            font-size: 16px;
        }
        h4 {
            font-size: 14px;
        }
        h5 {
            font-size: 12px;
        }
        header {
            text-align: center;
        }
    </style>
</head>
<body>
<header id="pageHeader">EOKO SAS</header>
<section>
    Exemple de header custom
    <!-- start inject content -->
    <%= contents %>
    <!-- end inject content -->
</section>
<div id="pageFooter">Default footer</div>
</body>
</html>